<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>ログイン画面</title>
</head>
<body>
	<div id="mainArea">
		<h1>ログイン</h1>
		<br>

		<form method="post" th:action="@{/login}">
			<p>ユーザーIDとパスワードを入力してください。</p>
			<p th:if="${param.error}" class="errorMsg">
				認証に失敗しました。正しいユーザーIDおよびパスワードを入力してください。
			</p>
			<p th:if="${param.logout}">ログアウトしました。</p>
			<table>
				<tr>
					<td>ユーザーID:</td>
					<td><input type="text" name="username" value="test1" /></td>
				</tr>
				<tr>
					<td>パスワード:</td>
					<td><input type="password" name="password" value="password" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="login" value="ログイン" /></td>
				<tr>
			</table>
		</form>
		<p/>
</body>
</html>
