<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
		lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>例題一覧画面</title>
<script>
	function submitForm (obj){
		alert('a');
		obj.submit();
	}
</script>
</head>
<body>
	<div id="mainArea">
		<h1>例題一覧
			<div class="userName" sec:authorize="authenticated">
				ユーザ名：<span sec:authentication="principal.memberName">ユーザ名</span>
			</div>
			<div class="userName" sec:authorize="anonymous">
				<a th:href="@{/login}" class="login_top">ログイン</a>
			</div>
		</h1>
		<h3 sec:authorize="authenticated">
			ようこそ <span sec:authentication="principal.username">ユーザ名</span> さん
		</h3>
		<form method="post" th:action="@{/search}">
			<button class="menubutton">従業員検索</button></p>
		</form>
		<form method="post" th:action="@{/messageInput}">
			<button class="menubutton">メッセージ送信</button></p>
		</form>
		<form method="post" th:action="@{/multipleInput}">
			<button class="menubutton">複数サブミット</button></p>
		</form>
		<form method="post" th:action="@{/nestInput}">
			<button class="menubutton">フォームの入れ子</button></p>
		</form>
		<p><a th:href="@{/messageInput}">従業員検索(CSRF確認用)</a></p>
	</p>
	</div>
	<div id="footerArea" >
		<br>
		<form method="post" th:action="@{/logout}">
			<button sec:authorize="authenticated">ログアウト</button>
		</form>
	</div>
</body>
</html>
