<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>例題一覧画面</title>
</head>
<body>
	<div id="mainArea">
		<h1>例題一覧<div class="userName">ユーザ名：<span th:text="${LOGINUSER}"></span></div></h1>
		<h3>ようこそ <span th:text="${LOGINUSER}">匿名</span> さん</h3>
		<p><a  th:href="@{/search}">従業員検索</a></p>
		<p><a  th:href="@{/inputInsert}">従業員登録</a></p>
		<p><a th:href="@{/retrieveAllEmployee}">従業員一覧</a></p>
		<br>
		<form>
			<button th:formaction="@{/logout}">ログアウト</button>
		</form>
	</p>
</body>
</html>
