<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
		lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>例題一覧画面</title>
</head>
<body>
	<div id="mainArea">
		<h1>例題一覧
			<div class="userName" sec:authorize="authenticated">
				ユーザ名：<span sec:authentication="principal.memberName">ユーザ名</span>
			</div>
			<div class="userName" sec:authorize="anonymous">
				<a th:href="@{/login}" class="login_top">ログイン</a>
			</div>
		</h1>
		<h3 sec:authorize="authenticated">
			ようこそ <span sec:authentication="principal.username">ユーザ名</span> さん
		</h3>
		<p><a th:href="@{/search}">従業員検索</a></p>
		<p><a th:href="@{/messageInput}">メッセージ送信</a></p>
		<p><a th:href="@{/multipleInput}">複数サブミット</a></p>
		<p><a th:href="@{/nestInput}">フォームの入れ子</a></p>
		<br>
	</p>
	</div>
	<div id="footerArea" >
		<br>
		<form method="post" th:action="@{/logout}">
			<button>ログアウト</button>
		</form>
	</div>
</body>
</html>
